






#AF-img { background-image: url(../assets/imgs/af.png); }
#AL-img { background-image: url(../assets/imgs/al.png); }
#DZ-img { background-image: url(../assets/imgs/dz.png); }
#AD-img { background-image: url(../assets/imgs/ad.png); }
#AO-img { background-image: url(../assets/imgs/ao.png); }
#AG-img { background-image: url(../assets/imgs/ag.png); }
#AR-img { background-image: url(../assets/imgs/ar.png); }
#AM-img { background-image: url(../assets/imgs/am.png); }
#AU-img { background-image: url(../assets/imgs/au.png); }
#AT-img { background-image: url(../assets/imgs/at.png); }
#AZ-img { background-image: url(../assets/imgs/az.png); }
#BS-img { background-image: url(../assets/imgs/bs.png); }
#BH-img { background-image: url(../assets/imgs/bh.png); }
#BD-img { background-image: url(../assets/imgs/bd.png); }
#BB-img { background-image: url(../assets/imgs/bb.png); }
#BY-img { background-image: url(../assets/imgs/by.png); }
#BE-img { background-image: url(../assets/imgs/be.png); }
#BZ-img { background-image: url(../assets/imgs/bz.png); }
#BJ-img { background-image: url(../assets/imgs/bj.png); }
#BT-img { background-image: url(../assets/imgs/bt.png); }
#BO-img { background-image: url(../assets/imgs/bo.png); }
#BA-img { background-image: url(../assets/imgs/ba.png); }
#BW-img { background-image: url(../assets/imgs/bw.png); }
#BR-img { background-image: url(../assets/imgs/br.png); }
#BN-img { background-image: url(../assets/imgs/bn.png); }
#BG-img { background-image: url(../assets/imgs/bg.png); }
#BF-img { background-image: url(../assets/imgs/bf.png); }
#BI-img { background-image: url(../assets/imgs/bi.png); }
#KH-img { background-image: url(../assets/imgs/kh.png); }
#CM-img { background-image: url(../assets/imgs/cm.png); }
#CA-img { background-image: url(../assets/imgs/ca.png); }
#CV-img { background-image: url(../assets/imgs/cv.png); }
#CF-img { background-image: url(../assets/imgs/cf.png); }
#TD-img { background-image: url(../assets/imgs/td.png); }
#CL-img { background-image: url(../assets/imgs/cl.png); }
#CN-img { background-image: url(../assets/imgs/cn.png); }
#CO-img { background-image: url(../assets/imgs/co.png); }
#KM-img { background-image: url(../assets/imgs/km.png); }
#CG-img { background-image: url(../assets/imgs/cg.png); }
#CD-img { background-image: url(../assets/imgs/cd.png); }
#CR-img { background-image: url(../assets/imgs/cr.png); }
#HR-img { background-image: url(../assets/imgs/hr.png); }
#CU-img { background-image: url(../assets/imgs/cu.png); }
#CY-img { background-image: url(../assets/imgs/cy.png); }
#CZ-img { background-image: url(../assets/imgs/cz.png); }
#CI-img { background-image: url(../assets/imgs/ci.png); }
#DK-img { background-image: url(../assets/imgs/dk.png); }
#DJ-img { background-image: url(../assets/imgs/dj.png); }
#DM-img { background-image: url(../assets/imgs/dm.png); }
#DO-img { background-image: url(../assets/imgs/do.png); }
#EC-img { background-image: url(../assets/imgs/ec.png); }
#EG-img { background-image: url(../assets/imgs/eg.png); }
#SV-img { background-image: url(../assets/imgs/sv.png); }
#GQ-img { background-image: url(../assets/imgs/gq.png); }
#ER-img { background-image: url(../assets/imgs/er.png); }
#EE-img { background-image: url(../assets/imgs/ee.png); }
#ET-img { background-image: url(../assets/imgs/et.png); }
#FJ-img { background-image: url(../assets/imgs/fj.png); }
#FI-img { background-image: url(../assets/imgs/fi.png); }
#FR-img { background-image: url(../assets/imgs/fr.png); }
#GA-img { background-image: url(../assets/imgs/ga.png); }
#GM-img { background-image: url(../assets/imgs/gm.png); }
#GE-img { background-image: url(../assets/imgs/ge.png); }
#DE-img { background-image: url(../assets/imgs/de.png); }
#GH-img { background-image: url(../assets/imgs/gh.png); }
#GR-img { background-image: url(../assets/imgs/gr.png); }
#GD-img { background-image: url(../assets/imgs/gd.png); }
#GT-img { background-image: url(../assets/imgs/gt.png); }
#GN-img { background-image: url(../assets/imgs/gn.png); }
#GW-img { background-image: url(../assets/imgs/gw.png); }
#GY-img { background-image: url(../assets/imgs/gy.png); }
#HT-img { background-image: url(../assets/imgs/ht.png); }
#VA-img { background-image: url(../assets/imgs/va.png); }
#HN-img { background-image: url(../assets/imgs/hn.png); }
#HU-img { background-image: url(../assets/imgs/hu.png); }
#IS-img { background-image: url(../assets/imgs/is.png); }
#IN-img { background-image: url(../assets/imgs/in.png); }
#ID-img { background-image: url(../assets/imgs/id.png); }
#IR-img { background-image: url(../assets/imgs/ir.png); }
#IQ-img { background-image: url(../assets/imgs/iq.png); }
#IE-img { background-image: url(../assets/imgs/ie.png); }
#IL-img { background-image: url(../assets/imgs/il.png); }
#IT-img { background-image: url(../assets/imgs/it.png); }
#JM-img { background-image: url(../assets/imgs/jm.png); }
#JP-img { background-image: url(../assets/imgs/jp.png); }
#JO-img { background-image: url(../assets/imgs/jo.png); }
#KZ-img { background-image: url(../assets/imgs/kz.png); }
#KE-img { background-image: url(../assets/imgs/ke.png); }
#KR-img { background-image: url(../assets/imgs/kr.png); }
#KW-img { background-image: url(../assets/imgs/kw.png); }
#KG-img { background-image: url(../assets/imgs/kg.png); }
#LA-img { background-image: url(../assets/imgs/la.png); }
#LV-img { background-image: url(../assets/imgs/lv.png); }
#LB-img { background-image: url(../assets/imgs/lb.png); }
#LS-img { background-image: url(../assets/imgs/ls.png); }
#LR-img { background-image: url(../assets/imgs/lr.png); }
#LY-img { background-image: url(../assets/imgs/ly.png); }
#LI-img { background-image: url(../assets/imgs/li.png); }
#LT-img { background-image: url(../assets/imgs/lt.png); }
#LU-img { background-image: url(../assets/imgs/lu.png); }
#MO-img { background-image: url(../assets/imgs/mo.png); }
#MK-img { background-image: url(../assets/imgs/mk.png); }
#MG-img { background-image: url(../assets/imgs/mg.png); }
#MW-img { background-image: url(../assets/imgs/mw.png); }
#MY-img { background-image: url(../assets/imgs/my.png); }
#MV-img { background-image: url(../assets/imgs/mv.png); }
#ML-img { background-image: url(../assets/imgs/ml.png); }
#MT-img { background-image: url(../assets/imgs/mt.png); }
#MR-img { background-image: url(../assets/imgs/mr.png); }
#MU-img { background-image: url(../assets/imgs/mu.png); }
#MX-img { background-image: url(../assets/imgs/mx.png); }
#MD-img { background-image: url(../assets/imgs/md.png); }
#MC-img { background-image: url(../assets/imgs/mc.png); }
#MN-img { background-image: url(../assets/imgs/mn.png); }
#ME-img { background-image: url(../assets/imgs/me.png); }
#MA-img { background-image: url(../assets/imgs/ma.png); }
#MZ-img { background-image: url(../assets/imgs/mz.png); }
#MM-img { background-image: url(../assets/imgs/mm.png); }
#NA-img { background-image: url(../assets/imgs/na.png); }
#NP-img { background-image: url(../assets/imgs/np.png); }
#NL-img { background-image: url(../assets/imgs/nl.png); }
#NZ-img { background-image: url(../assets/imgs/nz.png); }
#NI-img { background-image: url(../assets/imgs/ni.png); }
#NE-img { background-image: url(../assets/imgs/ne.png); }
#NG-img { background-image: url(../assets/imgs/ng.png); }
#NO-img { background-image: url(../assets/imgs/no.png); }
#OM-img { background-image: url(../assets/imgs/om.png); }
#PK-img { background-image: url(../assets/imgs/pk.png); }
#PS-img { background-image: url(../assets/imgs/ps.png); }
#PA-img { background-image: url(../assets/imgs/pa.png); }
#PG-img { background-image: url(../assets/imgs/pg.png); }
#PY-img { background-image: url(../assets/imgs/py.png); }
#PE-img { background-image: url(../assets/imgs/pe.png); }
#PH-img { background-image: url(../assets/imgs/ph.png); }
#PL-img { background-image: url(../assets/imgs/pl.png); }
#PT-img { background-image: url(../assets/imgs/pt.png); }
#QA-img { background-image: url(../assets/imgs/qa.png); }
#XK-img { background-image: url(../assets/imgs/xk.png); }
#RO-img { background-image: url(../assets/imgs/ro.png); }
#RU-img { background-image: url(../assets/imgs/ru.png); }
#RW-img { background-image: url(../assets/imgs/rw.png); }
#RE-img { background-image: url(../assets/imgs/re.png); }
#KN-img { background-image: url(../assets/imgs/kn.png); }
#LC-img { background-image: url(../assets/imgs/lc.png); }
#VC-img { background-image: url(../assets/imgs/vc.png); }
#SM-img { background-image: url(../assets/imgs/sm.png); }
#ST-img { background-image: url(../assets/imgs/st.png); }
#SA-img { background-image: url(../assets/imgs/sa.png); }
#SN-img { background-image: url(../assets/imgs/sn.png); }
#RS-img { background-image: url(../assets/imgs/rs.png); }
#SC-img { background-image: url(../assets/imgs/sc.png); }
#SL-img { background-image: url(../assets/imgs/sl.png); }
#SG-img { background-image: url(../assets/imgs/sg.png); }
#SK-img { background-image: url(../assets/imgs/sk.png); }
#SI-img { background-image: url(../assets/imgs/si.png); }
#SO-img { background-image: url(../assets/imgs/so.png); }
#ZA-img { background-image: url(../assets/imgs/za.png); }
#SS-img { background-image: url(../assets/imgs/ss.png); }
#ES-img { background-image: url(../assets/imgs/es.png); }
#LK-img { background-image: url(../assets/imgs/lk.png); }
#SD-img { background-image: url(../assets/imgs/sd.png); }
#SR-img { background-image: url(../assets/imgs/sr.png); }
#SZ-img { background-image: url(../assets/imgs/sz.png); }
#SE-img { background-image: url(../assets/imgs/se.png); }
#CH-img { background-image: url(../assets/imgs/ch.png); }
#SY-img { background-image: url(../assets/imgs/sy.png); }
#TW-img { background-image: url(../assets/imgs/tw.png); }
#TJ-img { background-image: url(../assets/imgs/tj.png); }
#TZ-img { background-image: url(../assets/imgs/tz.png); }
#TH-img { background-image: url(../assets/imgs/th.png); }
#TL-img { background-image: url(../assets/imgs/tl.png); }
#TG-img { background-image: url(../assets/imgs/tg.png); }
#TT-img { background-image: url(../assets/imgs/tt.png); }
#TN-img { background-image: url(../assets/imgs/tn.png); }
#TR-img { background-image: url(../assets/imgs/tr.png); }
#UG-img { background-image: url(../assets/imgs/ug.png); }
#UA-img { background-image: url(../assets/imgs/ua.png); }
#AE-img { background-image: url(../assets/imgs/ae.png); }
#GB-img { background-image: url(../assets/imgs/gb.png); }
#US-img { background-image: url(../assets/imgs/us.png); }
#UY-img { background-image: url(../assets/imgs/uy.png); }
#UZ-img { background-image: url(../assets/imgs/uz.png); }
#VE-img { background-image: url(../assets/imgs/ve.png); }
#VN-img { background-image: url(../assets/imgs/vn.png); }
#EH-img { background-image: url(../assets/imgs/eh.png); }
#YE-img { background-image: url(../assets/imgs/ye.png); }
#ZM-img { background-image: url(../assets/imgs/zm.png); }
#ZW-img { background-image: url(../assets/imgs/zw.png); } 