@use "abstracts/abstracts" as abs;





/* ~~~~~ search ~~~~~ */

.search {

	&-group-input { position: relative; }

	&-input {
		height: 2rem;
    width: 12rem;

    text-indent: 1rem;
    word-spacing: 4px;

    background: transparent;

    margin-left: 1.5rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;

    transition: all .2s;


    &:focus {
    	border-bottom: abs.$vars-b-border;
    	width: 16rem;
    }
	}


	&-data {
		height: 0;
		width: 16rem;

		position: absolute;
		top: 3.5rem;
		left: 1.5rem;
		
    transition: all .2s;
	}


	&-btn {
    height: 2rem; 
    padding: 0rem 2rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: abs.$vars-l-border;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;

    transition: all .2s;


    &:hover {	border-bottom: abs.$vars-b-border; }
    &:active { border-bottom: none; transform: scaleX(1.1); }
    
    &:hover > span { transform: scale(1.05); }

    span { transition: all .2s; }
  }
}







/* ~~~~~ search ~~~~~ */

.search {

  &-input {

    @include abs.mxs-respond(big-desktop) {

    }

    @include abs.mxs-respond(tab-land) {

    }

    @include abs.mxs-respond(tab-port) {
      color: abs.$vars-c-yellow !important;
    }

    @include abs.mxs-respond(phone) {
      color: abs.$vars-c-yellow !important;
    }

    &:focus {

      @include abs.mxs-respond(big-desktop) {

      }

      @include abs.mxs-respond(tab-land) {

      }

      @include abs.mxs-respond(tab-port) {
        border-bottom: 2px solid abs.$vars-c-yellow-light;
      }

      @include abs.mxs-respond(phone) {
        width: 14rem;
        border-bottom: 2px solid abs.$vars-c-yellow-light;
      }
    }
  }

  &-btn {

    @include abs.mxs-respond(big-desktop) {

    }

    @include abs.mxs-respond(tab-land) {

    }

    @include abs.mxs-respond(tab-port) {
      border-left: 2px solid abs.$vars-c-yellow-light;
    }

    @include abs.mxs-respond(phone) {
      border-left: 2px solid abs.$vars-c-yellow-light;
    }

    & > span {
      @include abs.mxs-respond(big-desktop) {

      }

      @include abs.mxs-respond(tab-land) {

      }

      @include abs.mxs-respond(tab-port) {
        color: abs.$vars-c-yellow;
      }

      @include abs.mxs-respond(phone) {
        color: abs.$vars-c-yellow;
      }
    }


    &:hover { 

      @include abs.mxs-respond(big-desktop) {

      }

      @include abs.mxs-respond(tab-land) {

      }

      @include abs.mxs-respond(tab-port) {
        border-bottom: 2px solid abs.$vars-c-yellow-light;
      }

      @include abs.mxs-respond(phone) {
        border-bottom: 2px solid abs.$vars-c-yellow-light;
      }
    }
  }
}




/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
